.onboarding-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-image: radial-gradient(circle at 0 0, #5fd5b6 0, rgba(95, 213, 182, 0) 30%),
    linear-gradient(180deg, rgba(121, 223, 255, 0.7) -10%, rgba(121, 223, 255, 0) 70%),
    radial-gradient(circle at 95% 0, #d0f224 0, rgba(95, 213, 182, 0) 20%);
}
.onboarding-page-wrapper .logo {
  height: 3rem;
}
.onboarding-page-wrapper .get-started-img {
  width: 40vw;
  display: block;
  margin: 0 auto;
}
.onboarding-page-wrapper .start-trail-form {
  border: 2px solid black;
  display: flex;
  width: 498px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0.2rem 0.5rem;
}
.onboarding-page-wrapper .details-section {
  background: rgb(241 255 249/1);
  width: 100vw;
}
