/* 
  Generall styles across the application
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
  /* background-color: var(--body-color); */
  background: #f1fff9 !important;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

:root {
  /* color */
  --body-color: #fff;
  --text-black: #000;
  --admin-primary-color: #303030;
  --light-text: #e3e3e3;
  --primary-dark: #1a1a1a;

  /* font size */
  /* FONT SIZES */
  --font-8: 0.5rem;
  --font-10: 0.625rem;
  --font-11: 0.6875rem;
  --font-12: 0.75rem;
  --font-13: 0.8125rem;
  --font-14: 0.875rem;
  --font-15: 0.9375rem;
  --font-16: 1rem;
  --font-17: 1.0625rem;
  --font-18: 1.125rem;
  --font-19: 1.1875rem;
  --font-19: 1.1875rem;
  --font-20: 1.25rem;
  --font-21: 1.3125rem;
  --font-22: 1.375rem;
  --font-23: 1.4375rem;
  --font-24: 1.5rem;
  --font-25: 1.5625rem;
  --font-26: 1.625rem;
  --font-27: 1.6875rem;
  --font-28: 1.75rem;
  --font-29: 1.8125rem;
  --font-30: 1.875rem;
  --font-31: 1.9375rem;
  --font-32: 2rem;
  --font-33: 2.0625rem;
  --font-34: 2.125rem;
  --font-35: 2.1875rem;
  --font-36: 2.25rem;
  --font-37: 2.3125rem;
  --font-38: 2.375rem;
  --font-39: 2.4375rem;
  --font-40: 2.5rem;
  --font-41: 2.5625rem;
  --font-42: 2.625rem;
  --font-43: 2.6875rem;
  --font-44: 2.75rem;
  --font-45: 2.8125rem;
  --font-46: 2.875rem;
  --font-47: 2.9375rem;
  --font-48: 3rem;
  --font-49: 3.0625rem;
  --font-50: 3.125rem;
}
.b-radius8 {
  border-radius: var(--font-8);
}
.b-radius10 {
  border-radius: var(--font-10);
}
.b-radius15 {
  border-radius: var(--font-15);
}
.b-radius20 {
  border-radius: var(--font-20);
}
.fnt-10 {
  font-size: var(--font-10);
}

.fnt-11 {
  font-size: var(--font-11);
}

.fnt-12 {
  font-size: var(--font-12);
}

.fnt-13 {
  font-size: var(--font-13);
}

.fnt-14 {
  font-size: var(--font-14);
}

.fnt-15 {
  font-size: var(--font-15);
}

.fnt-16 {
  font-size: var(--font-16);
}

.fnt-17 {
  font-size: var(--font-17);
}

.fnt-18 {
  font-size: var(--font-18);
}

.fnt-19 {
  font-size: var(--font-19);
}

.fnt-20 {
  font-size: var(--font-20);
}

.fnt-21 {
  font-size: var(--font-21);
}

.fnt-22 {
  font-size: var(--font-22);
}

.fnt-23 {
  font-size: var(--font-23);
}

.fnt-24 {
  font-size: var(--font-24);
}

.fnt-25 {
  font-size: var(--font-25);
}

.fnt-26 {
  font-size: var(--font-26);
}

.fnt-27 {
  font-size: var(--font-27);
}

.fnt-28 {
  font-size: var(--font-28);
}

.fnt-29 {
  font-size: var(--font-29);
}

.fnt-30 {
  font-size: var(--font-30);
}
.fnt-31 {
  font-size: var(--font-31);
}
.fnt-32 {
  font-size: var(--font-32);
}
.fnt-33 {
  font-size: var(--font-33);
}
.fnt-34 {
  font-size: var(--font-34);
}
.fnt-35 {
  font-size: var(--font-35);
}
.fnt-40 {
  font-size: var(--font-40);
}
.fnt-50 {
  font-size: var(--font-50);
}
section,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
mark,
small,
strong,
header,
a,
ul,
nav,
header,
li,
button,
span {
  padding: 0;
  margin: 0;
  margin-bottom: 0 !important;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: #000;
}
input {
  outline: none;
  border: none;
}
input::placeholder {
  font-size: 15px;
  color: #000;
}
.g-5custom {
  --bs-gutter-x: 2rem !important;
  --bs-gutter-y: 2rem !important;
}
.g-3custom {
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0.5rem !important;
}
.clr-white {
  color: white;
}
.clr-black {
  color: black;
}
.cursor-pointer {
  cursor: pointer;
}
.app-overlay {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
li {
  list-style: none;
}
.app-modal.transition-modal {
  opacity: 1 !important;
  transition: opacity 0.3s !important;

  /* transition: transform 0.3s; */
}
.clr-black {
  color: #000;
}
.pr-2rem {
  padding-right: 2rem;
}
.mr-2rem {
  margin-right: 2rem;
}
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.125rem;
  margin-bottom: 0.2rem;
}
.skeleton-container {
  width: 98%;
  height: 500px;
  display: flex;
  align-items: center;
  /* background-color: white; */
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}
.skeleton-header {
  width: 20%;
  height: 1rem;
  border-radius: 0.125rem;
  margin-bottom: 0.5rem;
}
.skeleton-header.analytics {
  width: 97%;
  display: block;
  margin: 0.5rem auto;
}
.skeleton-buttons {
  width: 20%;
  height: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.products-skeleton,
.skeleton-wrapper {
  height: 100vh;
  /* width: 100vw; */
}
.skeleton-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.skeleton-image-square {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.skeleton-text:last-child {
  width: 80%;
  margin-bottom: 0;
}
.skeleton-box.analytics {
  min-height: 300px;
  width: 100%;
  border-radius: 6px;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 85%);
  }

  100% {
    background-color: hsla(200, 20%, 95%);
  }
}
